<h2>Сокращаем артикуляцию</h2>

<p>
  В течение 10 минут читай книгу, ведя одним пальцем по строке, а другим стучи по столу в асинхронном ритме (1, 1&#8209;2, 1&#8209;2, 1&#8209;2&#8209;3) и про себя проговаривай счёт, при этом не двигая не языком, ни губами&nbsp;&mdash; прикуси язык и крепко зажми губы! Вместо асинхронного ритма также можно попробовать обратный счёт (от 10 до 1) или же петь песню во время чтения.<br>
</p>

<button id="timer2" (click)="setTimer()">&#10144; Включить таймер на 10 минут</button>