<div class="container" id='wrapper'>
  <h1>Упражнения для развития скорочтения</h1>

  Книги дают знания.
  Знания можно отработать и превратить в навыки.
  А за хорошую квалификацию платят неплохие деньги.
  Начни <b>сейчас</b> выполнять ежедневные занятия по скорочтению всего по 40 минут, чтобы <b>уже через месяц</b> начать экономить на чтении целые недели, месяцы и даже годы своей жизни!

  <app-recomendations></app-recomendations>
  <app-regression></app-regression>
  <app-articulation></app-articulation>
  <app-view-field></app-view-field>
  <app-metronome></app-metronome>
</div>

<app-timer></app-timer>