<h2>Общие рекомендации</h2>
  Для получения наилучшего эффекта от чтения следуй этим советам:
  <ul>
    <li>Читай сидя, с прямой спиной и наклони корпус чуть вперёд.</li>
    <li>Расположи текст в полуметре от глаз.</li>
    <li>Направь лампу к себе в глаза (серьёзно).</li>
    <li>Съешь посольский бутерброд (сыр с лимоном).</li>
    <li>Для занятий лучше всего выбирать художественную литературу, которую легко читать.</li>

    <li>Для большей концентрации над чтением:
      <ul>
        <li>Читай только то, что тебе интересно или хотя бы нужно для работы. За остальное даже не берись&nbsp;&mdash; ты же не мазохист! Или мазохист?</li>
        <li>Во время чтения отвлекаться ни на что нельзя, иначе упражнение будет выполнено плохо, да и к тому же будет длиться целую вечность!</li>
        <li>К процессу чтения нужно как следует подготовить своё место для чтения: убрать все раздражители, направить лампу, взять карандаш, закладку, взять с собой котэ, поставить рядом стакан воды или чай... Ну или как ты там читаешь?</li>
        <li>Если в тексте встречаются незнакомые слова&nbsp;&mdash; подчеркни их карандашом (ты же с его помощью выполняешь первые 2 упражнения?) и пропусти. Позже вернись и изучи до полного понимания&nbsp;&mdash; хороший словарный запас ещё никому не повредил! Да и такой метод хорошо подходит для изучения иностранных языков.</li>
      </ul>
    </li>

    <li>Для лучшего понимания:
      <ul>
        <li>Определи цель чтения (Что ты хочешь узнать? Или читаешь просто для удовольствия?)</li>
        <li>Изучи оглавление, прежде чем читать книгу</li>
        <li>Предварительно просмотри текст книги.</li>
        <li>Ограничь своё чтение по времени: определи, сколько времени будешь читать и читай ровно столько, сколько сказал. Ни больше, ни меньше.</li>
        <li>После прочтения книги по некоторой предметной области (не худлит!) составь ментальную карту (например, в <a href="https://www.mindmeister.com/ru">mindmeister</a>)&nbsp;&mdash; так ты будешь видеть чёткую структуру изучаемого предмета, а при прочтении других книг по этой теме тебе придётся лишь дополнить свой &laquo;конспект&raquo; новой для тебя информацией. Удобно же!</li>
      </ul>
    </li>
  </ul>